/* A CSS Framework by Mike Stenhouse of Content with Style */

/* NAV BAR AT THE TOP AND ONE COLUMN OF CONTENT */

    div#main {
        width: 585px;
        text-align: center;
        margin-left: 150px;
        border-right: 0;
    }
        div#main h1 {
            margin-left: 25px;
            text-align: left;
        }
        div#main p {
            margin-top: 10px;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        div#main fieldset, div#main p {
            margin-left: 25px;
            text-align: left;
        }
/* END CONTENT */