#activeUsersForm {
    margin-top: 15px;
}

.scroller {
    font-family: verdana, geneva, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
}

ul.scrollerTable, table.scroller {
	padding: 0;
	margin: 0;
	float: right;
	margin-top: -5px;
}

.scroller img { border: 1px solid #999 }

.summary {
    font-size: 12px;
    text-align: right;
    margin: -30px 0 0 15%;
    width: 85%;
}

.paginator {
    font-family: verdana, geneva, arial, helvetica, sans-serif;
    font-size: 12px;
}

td.currentPage a {
    color: green;
}

.standardTable {
    font-family: verdana, geneva, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
}

.standardTable_Header {
    color: #000000;
    padding: 3px;
    text-align: left;
    border-bottom: 1px solid #000000;
    background: #c0c0c0;
}

.standardTable_SortHeader {
    color: #000000;
    padding: 3px;
    text-align: left;
    border-bottom: 1px solid #000000;
    background: #ffd !important;
}

.standardTable_SortHeader:hover,.standardTable_Header:hover {
    background: #ffff40;
    color: #008000;
}

.standardTable_Footer {
    background-color: #ffffe0;
}

.standardTable_Row1 {
    background-color: #ffffff;
    border-top: 1px solid #c0c0c0;
}

.standardTable_Row2 {
    background-color: #eeeeee;
    border-top: 1px solid #c0c0c0;
}

/* highlight table row onmouseover */
table.list tr.over {
    background: #ffff40;
    border-bottom: 1px solid #c0c0c0;
    border-top: 1px solid #c0c0c0;
    color: #000000;
    cursor: pointer;
    cursor: hand; /* IE 5.5 non-compliant workaround */
}

.standardTable_Column {
    
}

.standardTable_ColumnCentered {
    text-align: center
}

.sortLink {
    color: #333366;
    text-decoration: none;
}

.fileUploadInput {
    font-family: verdana, geneva, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    width: 250px;
}

.emptyHeader {
    background-color: #ffffff;
    border-top: 0px none;
    border-right: 0px none;
    border-bottom: 0px none;
    border-left: 0px none;
}

div.titlebar {
    background: #c7d0d9;
    color: black;
    border: 1px solid #8cacbb;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 1px 1px;
    clear: both;
}

/*
   ------------------------------------------------------------
   Calendar component
   ------------------------------------------------------------
*/
.yearMonthHeader {
    background-color: #dddddd;
    color: #000000;
    text-align: center;
    border: none;
    font-weight: bold;
}

.weekHeader {
    background-color: #e7e7e7;
    color: #000000;
    text-align: center;
    border: none;
}

.currentDayCell {
    background-color: #dddddd;
    color: #000000;
    border: none;
}

/*
   ------------------------------------------------------------
   End Calendar component
   ------------------------------------------------------------
*/ /*
   ------------------------------------------------------------
   Popup component
   ------------------------------------------------------------
*/
.popup {
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: 1px solid #cccccc;
    font-size: smaller;
    padding: 5px;
}

.popup table {
    font-size: smaller;
}

/*
   ------------------------------------------------------------
   End popup component
   ------------------------------------------------------------
*/
.countryFormTable {
    font-family: verdana, geneva, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
}

.countryFormHeader {
    font-family: verdana, geneva, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    padding: 2px;
    border-style: none;
    background-color: #ffdd00;
    text-align: center;
    font-weight: normal;
}

.countryFormFooter {
    font-family: verdana, geneva, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    padding: 2px;
    border-style: none;
    background-color: #ffdd00;
    text-align: center;
    font-weight: normal;
}

.countryFormLabels {
    font-family: verdana, geneva, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    padding: 2px;
    border-style: none;
    text-align: right;
    font-weight: bold;
}

.countryFormInputs {
    font-family: verdana, geneva, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    padding: 2px;
    border-style: none;
}

/*
   ------------------------------------------------------------
   Tree component
   ------------------------------------------------------------
*/
.nodeFolder {
    font-size: 10px;
    font-family: verdana, geneva, sans-serif;
    text-decoration: none
}

.document {
    color: blue;
    font-size: 10px;
    font-family: verdana, geneva, sans-serif;
    text-decoration: none
}

.documentSelected {
    color: blue;
    font-size: 10px;
    font-family: verdana, geneva, sans-serif;
    text-decoration: none;
    font-weight: bold
}

.childCount {
    color: blue;
    font-size: 10px;
    font-family: verdana, geneva, sans-serif;
    text-decoration: none
}

/*
   ------------------------------------------------------------
   Panelnavigation
   ------------------------------------------------------------
*/
#subnavigation {
    margin-left: 0px;
    margin-right: 20px;
    padding: 0px 0px 20px 0px;
    border: 1px solid #546359;
    background-color: #eaf4f4;
}

#subnavigation_outer {
    float: left;
    width: 220px;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

#subnavigation_outer h1 {
    font-size: 1.5em;
    margin: 0px;
    padding: 0px 0px 15px 0px;
}

/**************************************************
 * css layers and classes for list navigation list
 **************************************************/
#subnavigation ul li  a {
    display: block;
    background-color: #d1e4e4;
    color: #294747;
    text-decoration: none;
    border-bottom: 1px solid #87a8a8;
    padding: 2px 20px;
    margin: 0px;
}

#subnavigation ul li a:visited {
    color: #294747;
}

#subnavigation ul li a:hover {
    color: #ffffff;
    background-color: #87a8a8;
}

#subnavigation ul li a:active {
    color: #294747;
}

#subnavigation ul li a.selected {
    font-weight: bold;
    color: #294747;
    background-color: #ffffff;
}

#subnavigation ul ul li a {
    padding: 2px 20px 2px 25px;
    margin: 0px;
    background-color: #ffffff;
}

#subnavigation ul ul li ul li a {
    padding: 2px 20px 2px 30px;
    margin: 0px;
}

#subnavigation ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#subnavigation li {
    margin: 0px;
    padding: 0px;
    display: inline;
}

#subnavigation ul.mypage li a {
    padding: 2px 20px 2px 20px;
    background-color: #d1e4e4;
    margin: 0px;
    background-color: #eaf4f4;
}

#subnavigation ul.mypage ul li a:hover {
    color: #ffffff;
    background-color: #87a8a8;
}