/* These id's are static, so keep the same names */
div#menu {
    padding: 0px;
}

#menuDiv {
    background-color: #EEE;
    color: #000;
}

#menuList {
    margin: 0px;
    padding: 10px 0px 10px 15px;
}

li.menubar {
    background: url(../images/plus.gif) no-repeat 0em 0.3em;
    font-size: 12px;
    line-height: 1.5em;
    list-style: none outside;
}

.menu, .submenu {
    display: none;
    margin-left: 15px;
    padding: 0px;
}

.menu li, .submenu li  {
    background: url(../images/square.gif) no-repeat 0em 0.3em;
    list-style: none outside;
}

li.menubar a.standalone {
    background: url(../images/square.gif) no-repeat 0em 0.2em !important;
}

a.actuator, a.standalone {
    background-color: transparent;
    color: #000;
    font-size: 12px;
    padding-left: 15px;
    text-decoration: none;
}

.menu li a, .submenu li a {
    background-color: transparent;
    color: #000;
    font-size: 12px;
    padding-left: 15px;
    text-decoration: none;
}

a.actuator:hover, .menu li a:hover, submenu li a:hover, li a.standalone:hover {
    text-decoration: underline;
}

span.key {
    text-decoration: underline;
}

a.highlight {
    color: red !important;
    font-weight: bold;
}