ul#primary-nav,
ul#primary-nav ul {
    margin: 0;
    padding: 0;
    width: 150px; /* Width of Menu Items */
    background: #fff; /* IE6 Bug */
    font-size: 100%;
}

ul#primary-nav li {
    position: relative;
    list-style: none;
}

ul#primary-nav li a {
    display: block;
    text-decoration: none;
    color: #777;
    padding: 5px;
}

/* Fix IE. Hide from IE Mac \*/
* html ul#primary-nav li { float: left; height: 1%; }
* html ul#primary-nav li a { height: 1%; }
/* End */

ul#primary-nav ul {
    position: absolute;
    display: none;
    left: 0px; /* Set 1px less than menu width */
    width: 149px;
    top: 22px;
}

ul#primary-nav ul li {
    border: 1px solid silver;
    border-bottom: 0;
    width: 149px;
    font-size: 1em;
}

ul#primary-nav ul li.last {
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
}

ul#primary-nav li ul li a { padding: 3px 5px; } /* Sub Menu Styles */

ul#primary-nav li:hover ul ul,
ul#primary-nav li:hover ul ul ul,
ul#primary-nav li.over ul ul,
ul#primary-nav li.over ul ul ul { display: none; } /* Hide sub-menus initially */

ul#primary-nav li:hover ul,
ul#primary-nav li li:hover ul,
ul#primary-nav li li li:hover ul,
ul#primary-nav li.over ul,
ul#primary-nav li li.over ul,
ul#primary-nav li li li.over ul { display: block; } /* The magic */

ul#primary-nav li.menubar { background: transparent url(../images/arrow.gif) right center no-repeat; }

ul#primary-nav li:hover,
ul#primary-nav li.over { background: #d7e9f5 url(../images/arrow-down.gif) right center no-repeat; }

ul#primary-nav li a:hover { color: #E2144A; }
