#macro( displayCssMenu $menu )
  #if ($displayer.isAllowed($menu))
      ## set menu title
      #set ($title = $displayer.getMessage($menu.title))

      #if (!$menu.parent) <h2>$title</h2> #end

      <ul id="local">
      #foreach ($menuItem in $menu.components)
        #if ($displayer.isAllowed($menuItem))
          #set ($title = $displayer.getMessage($menuItem.title))
          <li><a href="$menuItem.url" title="$title" #if($menuItem.target)target="$menuItem.target"#end>${title}</a></li>
        #end
      #end
      </ul>
  #end
#end

#displayCssMenu($menu)
