<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%p [%t] %c{1}.%M(%L) | %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="net.sf.ehcache" level="error"/>
        <!-- Suppress success logging from InteractiveAuthenticationSuccessEvent -->
        <Logger name="org.springframework.security" level="error"/>
        <Logger name="org.apache" level="error"/>
        <Logger name="org.apache.velocity" level="fatal"/>
        <!-- Suppress invalid warning messages from JSF -->
        <Logger name="org.apache.myfaces" level="error"/>
        <!-- Suppress warnings from Struts -->
        <Logger name="org.apache.struts2.util.TextProviderHelper" level="error"/>
        <Logger name="com.opensymphony.xwork2.util.OgnlUtil" level="error"/>
        <Logger name="com.opensymphony.xwork2.ognl.OgnlValueStack" level="error"/>
        <Logger name="org.dbunit" level="warn"/>
        <Logger name="org.hibernate" level="warn"/>
        <!-- Uncomment if you want to see Hibernate's SQL -->
        <!--<Logger name="org.hibernate.SQL" level="debug"/>-->
        <Logger name="org.springframework" level="warn"/>
        <Logger name="org.appfuse" level="debug"/>
        <Logger name="org.appfuse.tool" level="info"/>

        <Root level="warn">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
