Dear ${user.fullName}

You (or someone else) have requested a new password.

Click the link below to set a new password for your account:

${applicationURL}

The link above will expire in 24 hours.

Cheers
