DIV.t-alert-container {

}

DIV.t-alert-controls {
    display: inline-block;
    cursor: pointer;
    background: #e8e8e8;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 5px;
    padding-left: 22px;
    padding-right: 5px;
}

DIV.t-alert-control A:hover {
    text-decoration: underline;
}

DIV.t-alert-container DIV.t-error {
    background: red;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 5px;
    padding-left: 22px;
}

DIV.t-alert-container DIV.t-warn {
    background: #f4da5b;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 5px;
    padding-left: 22px;
}

DIV.t-alert-container DIV.t-info {
    background: #57a957;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 5px;
    padding-left: 22px;
    color: white;
}


DIV.t-dismiss {
    float: right;
    margin-left: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

/* Override */
/*DIV.t-alert-container div.t-info {*/
    /*background: #ffffcc;*/
    /*border: 1px solid #000;*/
    /*color: #000000;*/
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*font-weight: normal;*/
    /*margin: 10px auto;*/
    /*padding: 3px;*/
    /*text-align: left;*/
    /*vertical-align: bottom;*/
/*}*/


/*body DIV.t-alert-container DIV.t-info {*/
    /*background: #ffffcc url("silk/information.png") no-repeat;*/
    /*border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
    /*margin-bottom: 5px;*/
    /*padding-left: 22px;*/
    /*color: #000000;*/
/*}*/

DIV.t-alert-container div.t-error {
    border: 2px solid red;
}


/* Remove the 'Dismiss all' message */
body DIV.t-dismiss {
    display: none;
}

body DIV.t-alert-controls {
    display: none;
}


body DIV.t-checklist-row {

}

.t-checklist-row label {
    display: inline;
}


body DIV.t-beaneditor {
    background: none;
    border: none;
}

body DL.t-beandisplay {
    background: none;
    border: none;
}
