<!--
  Excerpted from the book, "Pragmatic Project Automation"
  ISBN 0-9745140-3-9
  Copyright 2004 The Pragmatic Programmers, LLC.  All Rights Reserved.
  Visit www.PragmaticProgrammer.com
 -->

<cruisecontrol>
    <project name="appfuse" buildafterfailed="false">
    
        <bootstrappers>
            <currentbuildstatusbootstrapper 
                file="/home/cc/logs/appfuse/currentbuildstatus.txt"/>
        </bootstrappers>
        
        <modificationset quietperiod="60">
            <cvs localworkingcopy="/home/cc/work/checkout/appfuse"/>
            <!--svn LocalWorkingCopy="/home/cc/work/checkout/appfuse"/-->
            <!--filesystem folder="checkout/sbwebsite"/-->
        </modificationset>
        
        <schedule interval="120">
            <ant antscript="/opt/dev/tools/ant/bin/ant"/>
        </schedule>
        
        <log dir="logs/appfuse">
            <merge dir="/home/cc/work/checkout/appfuse/build/test/data"/>
        </log>
        
        <publishers>
            <currentbuildstatuspublisher 
                file="/home/cc/work/logs/appfuse/currentbuildstatus.txt"/>
               
            <htmlemail mailhost="localhost" 
                returnaddress="cruisecontrol@raibledesigns.com" 
                defaultsuffix="@raibledesigns.com" 
                buildresultsurl="http://foxxy:8080/cruisecontrol/buildresults/appfuse" 
                css="/opt/tools/cruisecontrol/reporting/jsp/webcontent/css/cruisecontrol.css" 
                xsldir="/opt/tools/cruisecontrol/reporting/jsp/webcontent/xsl" 
                logdir="/home/mraible/work/logs/appfuse" 
                subjectprefix="[CruiseControl] ">
                
                <map alias="matt" address="matt@raibledesigns.com"/>
                <always address="matt"/>
                <failure address="matt" reportWhenFixed="true"/>
            </htmlemail>
        </publishers>
    
    </project>
</cruisecontrol>
