<cruisecontrol>
    <project name="appfuse">

        <listeners>
            <currentbuildstatuslistener file="logs/${project.name}/status.txt"/>
        </listeners>

        <bootstrappers>
            <cvsbootstrapper localWorkingCopy="projects/${project.name}"/>
        </bootstrappers>
        
        <modificationset quietperiod="30">
            <!--svn LocalWorkingCopy="projects/${project.name}"/-->
            <cvs localWorkingCopy="projects/${project.name}"/>
            <!--filesystem folder="projects/${project.name}"/-->
        </modificationset>
        
        <schedule interval="600">
            <ant anthome="apache-ant-1.6.5" buildfile="build.xml"/>
        </schedule>
        
        <log>
            <merge dir="projects/${project.name}/build/test/data"/>
        </log>
        
        <publishers>
            <onsuccess>
                <artifactspublisher dest="artifacts/${project.name}" dir="projects/${project.name}/dist"/>
            </onsuccess>
            
            <currentbuildstatuspublisher file="projects/${project.name}/status.txt"/>
               
            <htmlemail mailhost="localhost" 
                returnaddress="no-reply@appfuse.dev.java.net" 
                buildresultsurl="http://home.raibledesigns.com:8888/buildresults/${project.name}" 
                css="webapps/cruisecontrol/css/cruisecontrol.css"
                xsldir="webapps/cruisecontrol/xsl"
                logdir="logs/${project.name}" 
                subjectprefix="[CruiseControl] ">
                
                <map alias="mraible" address="mraible@dev.java.net"/>
                <failure address="mraible" reportWhenFixed="true"/>
            </htmlemail>
        </publishers>
    </project>
</cruisecontrol>
