/* A CSS Framework template by Mattias Fjellström, zelphus@gmail.com */
/* Based on "A CSS Framework by Mike Stenhouse of Content with Style" */

/* NAV */
    div#nav {
        font-size: 0.8em;

    }
    * html div#nav {
        /* hide ie/mac \*/
        height: 1%;
        /* end hide */
    }
    div#nav div.wrapper {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: #cc0000;
        color: #fff;
    }
    div#nav ul {
        width: auto; 

        margin: 0;
        padding: 0;

        line-height: 1em;
        list-style: none;
    }
    div#nav li {
        float: left;
        display: inline;
   
        list-style: none;
        
        margin: 0;
        padding: 0;
        
        line-height: 2em;

        background: #cc0000;
        border-right: 1px solid #800000;
    }
    div#nav li.last {
        
    }
    div#nav a {
        /* hide from ie/mac \*/
        display: block;
        /* end hide */
        font-weight: bold;
        text-decoration: none;

        margin: 0;
        padding: 10px 15px;

        color: #fff;
        background-color: #cc0000;
    }
    div#nav a:hover, div#nav a.current {
        text-decoration: underline;
        color: #000 !important;
        background: #fff;
    }
/* END NAV */

/* DROP DOWN MENUS */
    /* http://issues.appfuse.org/browse/APF-1203 */
    ul#primary-nav { z-index:1; }

    ul#primary-nav ul { z-index:2; }

    ul#primary-nav, ul#primary-nav ul {
        margin: 0;
        padding: 0;
        background: #fff; /* IE6 Bug */
        font-size: 100%;
    }

        ul#primary-nav li {
            position: relative;
            list-style: none;
        }

            ul#primary-nav li.pad {
                display: none;
            }

            ul#primary-nav li a {
                display: block;
                text-decoration: none;
                color: #fff;
                width: 70px;
                text-align: center;
                white-space: nowrap;
            }

        /* Fix IE. Hide from IE Mac \*/
        * html ul#primary-nav li { float: left; height: 1%; }
            * html ul#primary-nav li a { height: 1%; }
            * html ul#primary-nav ul { width: 149px; }
        /* End */

            ul#primary-nav ul {
                position: absolute;
                display: none;
                left: 0px; /* Set 1px less than menu width */
                top: 22px;
                margin-top: 17px;
            }

                ul#primary-nav ul li {
                    border: 1px solid black;
                    border-bottom: 0;
                    width: 149px;
                    font-size: 1em;
                }

                    ul#primary-nav ul li.last {
                        border-bottom: 1px solid black;
                        border-right: 1px solid black;
                    }

                        ul#primary-nav li ul li a { padding: 3px 5px; text-align: left; width: 93% } /* Sub Menu Styles */

                        ul#primary-nav li:hover ul ul,
                        ul#primary-nav li:hover ul ul ul,
                        ul#primary-nav li.over ul ul,
                        ul#primary-nav li.over ul ul ul { display: none; } /* Hide sub-menus initially */

                        ul#primary-nav li:hover ul,
                        ul#primary-nav li li:hover ul,
                        ul#primary-nav li li li:hover ul,
                        ul#primary-nav li.over ul,
                        ul#primary-nav li li.over ul,
                        ul#primary-nav li li li.over ul { display: block; } /* The magic */

                        ul#primary-nav li.menubar { background: transparent url(../../images/arrow.gif) right center no-repeat; }

                        ul#primary-nav li:hover,
                        ul#primary-nav li.over { background-color: #fff }

                        ul#primary-nav li a:hover { color: #E2144A; }
/* END DROP DOWN MENUS */
