<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:wicket="https://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd;hb=master">

<!-- TODO: MZA: Where to put feedback? -->

<wicket:panel>
    <div class="form-group">
        <!-- TODO: MZA: maybe one component to display label with edit? -->
        <label wicket:id="usernameLabel" class="control-label">[Username]</label>
        <input wicket:id="username" type="text" class="form-control"/>
    </div>
    <div wicket:id="passwordGroup" class="row">
        <div class="col-sm-6 form-group">
            <label wicket:id="passwordLabel" class="control-label">[Password]</label>
            <input wicket:id="password" type="password" class="form-control"/>
        </div>
        <div class="col-sm-6 form-group">
            <label wicket:id="confirmPasswordLabel" class="control-label">[Confirm password]</label>
            <input wicket:id="confirmPassword" type="password" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label wicket:id="passwordHintLabel" class="control-label">[Password Hint]</label>
        <input wicket:id="passwordHint" type="text" class="form-control"/><br/>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label wicket:id="firstNameLabel" class="control-label">[First Name]</label>
            <input wicket:id="firstName" type="text" class="form-control"/>
        </div>
        <div class="col-sm-6 form-group">
            <label wicket:id="lastNameLabel" class="control-label">[Last Name]</label>
            <input wicket:id="lastName" type="text" class="form-control"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label wicket:id="emailLabel" class="control-label">[Email]</label>
            <input wicket:id="email" type="text" class="form-control"/>
        </div>
        <div class="col-sm-6 form-group">
            <label wicket:id="phoneNumberLabel" class="control-label">[Phone Number]</label>
            <input wicket:id="phoneNumber" type="text" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label wicket:id="websiteLabel" class="control-label">[Website]</label>
        <input wicket:id="website" type="text" class="form-control"/>
    </div>
    <div wicket:id="collapsibleAddress"></div>

    <div wicket:id="accountSettingsGroup">
        <div class="form-group">
            <label class="control-label"><wicket:message key="userProfile.accountSettings">[Account Settings]</wicket:message></label>

            <!-- TODO: MZA: Change to an input inside a label -->
            <input type="checkbox" wicket:id="enabled"/>
            <label class="choice"><wicket:message key="user.enabled">[Enabled]</wicket:message></label>

            <input type="checkbox" wicket:id="accountExpired"/>
            <label class="choice"><wicket:message key="user.accountExpired">[Expired]</wicket:message></label>

            <input type="checkbox" wicket:id="accountLocked"/>
            <label class="choice"><wicket:message key="user.accountLocked">[Locked]</wicket:message></label>

            <input type="checkbox" wicket:id="credentialsExpired"/>
            <label class="choice"><wicket:message key="user.credentialsExpired">[Password Expired]</wicket:message></label>
        </div>
        <div class="form-group">
            <label class="control-label">
                <wicket:message key="userProfile.assignRoles">[Assign Roles]</wicket:message>
            </label>
            <span wicket:id="rolesGroup">
                <div wicket:id="roles">
                    <input type="checkbox" wicket:id="value"/>
                    <span wicket:id="label">[Role name]</span>
                </div>
            </span>
        </div>
    </div>

    <div wicket:id="displayRolesGroup" class="form-group">
        <label class="control-label">
            <wicket:message key="user.roles">[Current Roles]</wicket:message>
        </label>
        <div class="readonly">
            <span wicket:id="rolesRepeater">
                <span wicket:id="roleName">[Role name]</span>
            </span>
        </div>
    </div>

    <div wicket:id="buttonsGroup" class="form-group form-actions">
        <button type="submit" wicket:id="saveButton" class="btn btn-primary">[Save]</button>
        <button type="submit" wicket:id="deleteButton" class="btn btn-default">[Delete]</button>
        <button wicket:id="cancelButton" class="btn btn-default">[Cancel]</button>
    </div>
</wicket:panel>

<wicket:fragment wicket:id="address">
    <div class="accordion-body in collapse">
        <div class="form-group">
            <label class="control-label" for="address">Address</label>
            <input wicket:id="address" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="city">City</label>
            <input wicket:id="city" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="province">State</label>
            <input wicket:id="province" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="postalCode">Zip</label>
            <input wicket:id="postalCode" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="country">Country</label>
            <select wicket:id="country"  class="form-control">
                <option>[Country One]</option>
                <option>[Country Two]</option>
            </select>
        </div>
    </div>
</wicket:fragment>

</html>
