<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- AOP Advisor -->
    <bean id="userSecurityInterceptor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice" ref="userSecurityAdvice"/>
        <property name="patterns">
            <list>
                <value>.*saveUser</value>
            </list>
        </property>
    </bean>

    <!-- Advice Class -->
    <bean id="userSecurityAdvice" class="org.appfuse.service.UserSecurityAdvice"/>

    <bean id="userManager" class="org.appfuse.service.impl.UserManagerImpl">
        <property name="passwordEncoder">
            <bean class="org.springframework.security.authentication.encoding.ShaPasswordEncoder"/>
        </property>
    </bean>

    <bean id="target" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces" value="org.appfuse.service.UserManager"/>
        <property name="interceptorNames">
            <list>
                <idref local="userSecurityInterceptor"/>
                <idref local="userManager"/>
            </list>
        </property>
    </bean>
</beans>    
