<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- AOP Advisor -->
    <bean id="userSecurityInterceptor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice" ref="userSecurityAdvice"/>
        <property name="patterns">
            <list>
                <value>.*saveUser</value>
            </list>
        </property>
    </bean>

    <!-- Advice Class -->
    <bean id="userSecurityAdvice" class="org.appfuse.service.UserSecurityAdvice"/>

    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
   
    <!-- Password reset token encoder -->
    <bean id="passwordTokenEncoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder"/>

    <bean id="userManager" class="org.appfuse.service.impl.UserManagerImpl">
        <property name="passwordEncoder" ref="passwordEncoder" />
    </bean>

    <bean id="target" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces" value="org.appfuse.service.UserManager"/>
        <property name="interceptorNames">
            <list>
                <idref bean="userSecurityInterceptor"/>
                <idref bean="userManager"/>
            </list>
        </property>
    </bean>
    
    <bean id="persistentPasswordTokenManager" class="org.appfuse.service.impl.PersistentPasswordTokenManagerImpl" autowire="default" />
    
    <bean id="persistentPasswordTokenManager.userManager" parent="userManager">
    	<property name="passwordTokenManager" ref="persistentPasswordTokenManager"></property>
    </bean>
</beans>    
