<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles.TilesConfigurer">
       <property name="factoryClass">
           <value>org.apache.struts.tiles.xmlDefinition.I18nFactorySet</value>
       </property>
       <property name="definitions">
           <list>
               <value>/WEB-INF/tiles-config.xml</value>
           </list>
       </property>
    </bean>
</beans>