/* A CSS Framework by Mike Stenhouse of Content with Style */

/* NAV */
    div#nav {
        font-size: 0.8em;
        border-bottom: 5px solid #d7e9f5;
    }
    * html div#nav {
        /* hide ie/mac \*/
        height: 1%;
        /* end hide */
    }
    div#nav div.wrapper {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    div#nav ul {
        width: auto;

        margin: 0;
        padding: 0;

        line-height: 1em;
        list-style: none;
    }
    div#nav li {
        float: left;
        display: inline;

        list-style: none;

        margin: 0;
        padding: 0;

        font-size: 1.2em;
        line-height: 1em;
    }
    div#nav li.last {
        border-right: none;
    }
    div#nav a,
    div#nav a:link,
    div#nav a:active,
    div#nav a:visited {
        display: inline-block;
        /* hide from ie/mac \*/
        display: block;
        /* end hide */
        font-weight: bold;
        text-decoration: none;

        margin: 0;
        padding: 5px 15px 5px 15px;

        color: #4f8cc9;
    }
    div#nav a:hover {
        text-decoration: none;
        background-color: #ebf5fc;
    }
    div#nav a.current {
        display: inline-block;
        /* hide from ie/mac \*/
        display: block;
        /* end hide */

        color: #4f8cc9;
        background: #d7e9f5;

        font-size: 1.2em !important;
    }
    div#nav a.current,
    div#nav a.current:link,
    div#nav a.current:active,
    div#nav a.current:visited,
    div#nav a.current:hover {
       color: #4f8cc9;
       background-color: #d7e9f5;
    }

    div#nav .pad {
       padding-left: 10px;
    }
/* END NAV */
