/* ********************************
   Project: CSS Table Galery
   Title: Like Adwords
   Author: Cleiton Francisco
   URL: http://www.cleiton.net/
   Country: Brazil
   Update: 2005-12-18
 *******************************/

.table {
    border-collapse: collapse;
    border: 2px solid #74B3DC;
    color: #000;
    background: #fff;
    width: 95%;
}
.table caption {
    padding: 0 0.6em 0.8em;
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
    color: #000;
    background: transparent;
}
.table td, .table th {
    border: 1px solid #e0e0e0;
    padding: 0.5em;
}
.table thead th {
    border: 1px solid #e0e0e0;
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    background: #d7e9f5;
}
.table tfoot th, tfoot td {
    border: 1px solid #e0e0e0;
    text-align: left;
    font-size: 1em;
    background: #e8e8cf;
}
.table tfoot th {
    font-weight: bold;
}
.table tbody td a {
    background: transparent;
    color: #00c;
    text-decoration: underline;
}
.table tbody td a:hover {
    background: transparent;
    color: #00c;
    text-decoration: underline;
}
.table tbody th a {
    background: transparent;
    color: #3f7c5f;
    text-decoration: underline;
    font-weight: bold;
}
.table tbody th a:visited {
    color: #b98b00;
}
.table tbody th, .table tbody td {
    vertical-align: top;
    text-align: left;
}
.table tfoot td {
    border: 1px solid #996;
}
.table tbody tr:hover {
    background: #ffffd9;
}
